.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeff2;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header-logo {
  font-weight: 700;
  text-decoration: none;
  font-size: 4.4rem;
  color: #cf711f;
}
.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.fa-solid {
  font-size: 2.2rem;
}
.fa-solid:hover {
  color: #cf711f;
  transition: all 0.3s;
}
.main-nav-list li:nth-last-child(2) {
  padding: 1rem;
  border-right: 2px solid rgb(213, 213, 231);
  border-left: 2px solid rgb(213, 213, 231);
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/* section-hero */

.hero {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 9.6rem;
  align-items: center;

  /* background-image: url(/select-best-five/resources/img/background.jpg); */
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("/resources/img/background.jpg");
  background-size: 100%;
}
.hero-left img {
  width: 100%;
}
.hero-right img {
  width: 60%;
}
.primary {
  font-family: "Italianno", cursive;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  color: #eaeff2;
}
/* Section-best */
.section-best {
  width: 100%;
  background-color: #333;
  padding: 8.8rem;
}
.best {
  max-width: 140rem;
  margin: 0 auto;
  background-color: rgb(61, 66, 70);
}
.player {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.8rem;
  background-color: rgb(91, 89, 88);
}
.player-img {
  margin-bottom: 3.6rem;
}
.player-img img {
  width: 100%;
  height: 20rem;
}
.palyer-info {
  padding: 2.6rem 4.6rem;
  text-align: center;
}
.dot {
  font-size: 4.8rem;
}

.budget {
  background-color: #555;
}
.methods-info {
  display: inline-block;
  width: 100%;
}
.budget-input {
  width: 10rem;
  height: 4rem;
  margin-bottom: 2rem;
  padding: 1.6rem;
}
.summary__label {
  margin-right: 2rem;
}
.form {
  display: grid;
  justify-content: center;
  padding: 2.8rem;
  row-gap: 1.6rem;
}

.method-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.form-btn {
  width: 80% !important;
  padding: 1.6rem 2rem !important;
}
/* selecetd */
.values {
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: center;
}
.selected {
  padding: 2.6rem;
  height: 400px;
  background-color: #555;
}
/* footer */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #aaa;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
/* for-js */
.players-name {
  overflow-y: scroll;
  height: 25rem;
}
.player-name {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 5px 1fr;
  height: 5rem;
}
